.body{
    background-color: #91a5b265;
}
.main {
    display: flex;
    padding: 20px 25px;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 900px;
    margin: 40px auto;
    color: #333;
    line-height: 1.5;
    padding: 0 15px;
    background-color: #46cce738;
  }

  .left-side {
    max-width: 300px;
    flex-shrink: 0;
    padding: 30px 15px ;
    margin: 30px 10px;
    background-color: rgba(255, 251, 240, 0.492);
  }
  .right-side {
    max-width: 500px;
    flex-grow: 1;
    padding: 30px 15px;
    margin: 30px 0px;
  }

  h1, h2 {
    color: #322751;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 6px;
    margin-bottom: 12px;
  }
  .photo {
    width: 220px;
    height: 220px;
    border-radius: 110px;
  }
  .name{
    font-size: 30px;
  }
  .contact {
    font-size: 0.9em;
    color: #555;
    text-align: left;
  }
  .job-title {
    font-weight: 600;
    color: #2980b9;
  }
  .job-duration {
    font-style: italic;
    color: #777;
    font-size: 0.9em;
  }
  ul.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  ul.skills-list li {
    background: #2980b9;
    color: white;
    padding: 5px 10px;
    margin: 4px 6px 4px 0;
    border-radius: 4px;
    font-size: 0.9em;
  }
